{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">

    <h2 class="text-white mb-3">Configuración de Email</h2>

    <form method="post">
        {% csrf_token %}

        <div class="card p-4" style="background:#1f1f1f; border:1px solid #333;">

            <label class="text-white mt-2">Correo remitente (Gmail)</label>
            {{ form.email_remitente }}

            <label class="text-white mt-2">Contraseña de aplicación</label>
            {{ form.contraseña_app }}

            <label class="text-white mt-2">Servidor SMTP</label>
            {{ form.smtp_host }}

            <label class="text-white mt-2">Puerto</label>
            {{ form.smtp_port }}

            <div class="form-check mt-3">
                {{ form.usar_tls }} <label class="text-white">Usar TLS</label>
            </div>

            <button type="submit" class="btn btn-success mt-3">Guardar</button>

        </div>
    </form>
</div>
{% endblock %}
