<script>
document.addEventListener("DOMContentLoaded", () => {

    const btnProv = document.getElementById("btnGuardarProveedor");

    btnProv.addEventListener("click", () => {

        const form = document.getElementById("proveedorFormModal");
        const datos = new FormData(form);

        fetch("{% url 'proveedor_create_ajax' %}", {
            method: "POST",
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            },
            body: datos
        })
        .then(r => r.json())
        .then(data => {

            if (!data.success) {
                alert(data.message);
                return;
            }

            const select = document.getElementById("id_id_proveedor");
            if (select) {
                const opt = document.createElement("option");
                opt.value = data.id;
                opt.textContent = data.nombre;
                opt.selected = true;
                select.appendChild(opt);
            }

            const modal = bootstrap.Modal.getInstance(document.getElementById("proveedorModal"));
            modal.hide();

            form.reset();
        });
    });
});
</script>
