{% extends 'core/base.html' %}
{% block title %}Apertura de Caja{% endblock %}
{% block content %}
<div class="container mt-4 text-white">
    <h2>Abrir Caja</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="saldo_inicial" class="form-label">Saldo Inicial</label>
            <input type="number" step="0.01" class="form-control" id="saldo_inicial" name="saldo_inicial" required>
        </div>
        <button type="submit" class="btn btn-success">Abrir Caja</button>
        <a href="{% url 'cajas_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
